* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #191919;
}
h2 {
    color: #cccccc;
    font-size: 30px;
    width: 100%;
}
p {
    text-align: justify;
}

li + li {
    margin-top: 20px;
}

ul {
    padding-left: 2rem;
    list-style-type: none;
}

a:link, a:visited {
    color: #008080;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: aqua;
    background-color: transparent;
    text-decoration: none;
}

.main_page {
    display: grid;
    grid-template-columns: 3fr 6fr 6fr 6fr;
    grid-template-rows: auto * 15;
    grid-template-areas:
        "div_head_area  div_head_area       div_head_area         div_head_area"
        "div_nav_area   div_art_header_area div_art_header_area   div_art_header_area"
        "div_nav_area   div_art_img1_area   div_art_img2_area     div_art_img3_area"
        "div_nav_area   div_art_img1_area   div_art_img2_area     div_art_img3_area"
        "div_nav_area   div_art_text1_area  div_art_text2_area    div_art_text3_area"
        "div_nav_area   div_art_text1_area  div_art_text2_area    div_art_text3_area"
        "div_nav_area   div_art_img4_area   div_art_img5_area     div_art_img6_area"
        "div_nav_area   div_art_img4_area   div_art_img5_area     div_art_img6_area"
        "div_nav_area   div_art_text4_area  div_art_text5_area    div_art_text6_area"
        "div_nav_area   div_art_text4_area  div_art_text5_area    div_art_text6_area"
        "div_foot_area  div_foot_area       div_foot_area         div_foot_area";
}

.side_page {
    display: grid;
    grid-template-columns: 3fr 2fr 10fr 2fr;
    grid-template-rows: auto * 15;
    grid-template-areas:
        "div_head_area  div_head_area       div_head_area           div_head_area"
        "div_nav_area   div_art_header_area div_art_header_area     div_art_header_area"
        "div_foot_area  div_foot_area       div_foot_area           div_foot_area";
}

.book_page {
    display: grid;
    grid-template-columns: 3fr 2fr 10 fr 2fr;
    grid-template-rows: auto * 15;
    grid-template-areas:
        "div_head_area  div_head_area       div_head_area           div_head_area"
        "div_nav_area   div_art_header_area div_art_header_area     div_art_header_area"
        "div_foot_area  div_foot_area       div_foot_area           div_foot_area";
}

.div_head {
    grid-area: div_head_area;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #400080;
    padding: 5px;
}
.div_head h1 {
    color: #cccccc;
    flex: 1 1 auto;
    font-size: 45px;
    text-align: center;
}

.div_nav {
    grid-area: div_nav_area;
    background-color: #cccccc;
    padding: 10px;
}
.mainitem_nav ul {
    list-style-type: none;
    padding: 0;
}
.mainitem_nav li {
    padding-bottom: 12px;
}

.div_art_header {
    grid-area: div_art_header_area;
    padding: 10px;
    background-color: #191919;
}

.div_art_img1 {
    grid-area: div_art_img1_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_text1 {
    color: #008080;
    grid-area: div_art_text1_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_img2 {
    grid-area: div_art_img2_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}

.div_art_text2 {
    color: #008080;
    grid-area: div_art_text2_area;
    padding: 10px;
    background-color: #191919; 
    place-self: center;
}

.div_art_img3 {
    grid-area: div_art_img3_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_text3 {
    color: #008080;
    grid-area: div_art_text3_area;
    padding: 10px;
    background-color: #191919;
    place-self: center; 
}
.div_art_img4 {
    grid-area: div_art_img4_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_text4 {
    color: #008080;
    grid-area: div_art_text4_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_img5 {
    grid-area: div_art_img5_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_text5 {
    color:  #008080;
    grid-area: div_art_text5_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}

.div_art_img6 {
    grid-area: div_art_img6_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_text6 {
    color: #008080;
    grid-area: div_art_text6_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}

.div_foot {
    grid-area: div_foot_area;
    background-color: #400080;
    padding: 10px;
    text-align: center;
    color: #cccccc;
}

@media screen and (max-width: 1025px) {
   .main_page {
        grid-template-areas:
            "div_head_area  div_head_area       div_head_area"
            "div_nav_area   div_art_header_area div_art_header_area"
            "div_nav_area   div_art_img1_area   div_art_img1_area"
            "div_nav_area   div_art_text1_area  div_art_text1_area"
            "div_nav_area   div_art_img2_area   div_art_img2_area"
            "div_nav_area   div_art_text2_area  div_art_text2_area"
            "div_nav_area   div_art_img3_area   div_art_img3_area"
            "div_nav_area   div_art_text3_area  div_art_text3_area"
            "div_nav_area   div_art_img4_area   div_art_img4_area"
            "div_nav_area   div_art_text4_area  div_art_text4_area"
            "div_nav_area   div_art_img5_area   div_art_img5_area"
            "div_nav_area   div_art_text5_area  div_art_text5_area"
            "div_nav_area   div_art_img6_area   div_art_img6_area"
            "div_nav_area   div_art_text6_area  div_art_text6_area"
            "div_foot_area  div_foot_area       div_foot_area";
   }
   .side_page {
        grid-template-areas:
            "div_head_area  div_head_area       div_head_area"
            "div_nav_area   div_art_header_area div_art_header_area"
            "div_foot_area  div_foot_area       div_foot_area";
   }
   .book_page {
       grid-template-areas:
            "div_head_area  div_head_area       div_head_area"
            "div_nav_area   div_art_header_area div_art_header_area"
            "div_foot_area  div_foot_area       div_foot_area";
   }
}
@media screen and (max-width: 601px) {
    .main_page {
        grid-template-areas:
            "div_head_area          div_head_area        div_head_area"
            "div_nav_area           div_nav_area         div_nav_area"
            "div_art_header_area    div_art_header_area  div_art_header_area"
            "div_art_img1_area      div_art_img1_area    div_art_img1_area"
            "div_art_text1_area     div_art_text1_area   div_art_text1_area"
            "div_art_img2_area      div_art_img2_area    div_art_img2_area"
            "div_art_text2_area     div_art_text2_area   div_art_text2_area"
            "div_art_img3_area      div_art_img3_area    div_art_img3_area"
            "div_art_text3_area     div_art_text3_area   div_art_text3_area"
            "div_art_img4_area      div_art_img4_area    div_art_img4_area"
            "div_art_text4_area     div_art_text4_area   div_art_text4_area"
            "div_art_img5_area      div_art_img5_area    div_art_img5_area"
            "div_art_text5_area     div_art_text5_area   div_art_text5_area"
            "div_art_img6_area      div_art_img6_area    div_art_img6_area"
            "div_art_text6_area     div_art_text6_area   div_art_text6_area"
            "div_foot_area          div_foot_area        div_foot_area";
   }
   .side_page {
       grid-template-areas:
            "div_head_area          div_head_area         div_head_area"
            "div_nav_area           div_nav_area          div_nav_area"
            "div_art_header_area    div_art_header_area   div_art_header_area"
            "div_foot_area          div_foot_area         div_foot_area";
   } 
   .book_page {
       grid-template-areas:
            "div_head_area          div_head_area         div_head_area"
            "div_nav_area           div_nav_area          div_nav_area"
            "div_art_header_area    div_art_header_area   div_art_header_area"
            "div_foot_area          div_foot_area         div_foot_area";
   }
}