* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #191919;
}
h2 {
    color: #cccccc;
    font-size: 30px;
    width: 100%;
}
h3 {
    color: #cccccc;
    font-size: 23px;
    width: 100%;
    text-align: center;
}
h4 {
    color: #cccccc;
    font-size: 18px;
    width: 100%;
    text-align: center;
}
h5 {
    color: #cccccc;
    font-size: 30px;
    width: 100%;
}
h6 {
    color: #cccccc;
    font-size: 18px;
    width: 100%;
}
p {
    text-align: justify;
    text-justify: inter-character;
    line-height: 2; 
}

li + li {
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

.decor {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

a:link, a:visited {
    color: #008080;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: aqua;
    background-color: transparent;
    text-decoration: none;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #008080;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #4CAF50;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }  

.main_page {
    display: grid;
    grid-template-columns: 3fr 6fr 6fr 6fr;
    grid-template-rows: auto * 15;
    grid-template-areas:
        "div_head_area  div_head_area       div_head_area         div_head_area"
        "div_nav_area   div_art_header_area div_art_header_area   div_art_header_area"
        "div_nav_area   div_art_img1_area   div_art_img2_area     div_art_img3_area"
        "div_nav_area   div_art_img1_area   div_art_img2_area     div_art_img3_area"
        "div_nav_area   div_art_text1_area  div_art_text2_area    div_art_text3_area"
        "div_nav_area   div_art_text1_area  div_art_text2_area    div_art_text3_area"
        "div_nav_area   div_art_img4_area   div_art_img5_area     div_art_img6_area"
        "div_nav_area   div_art_img4_area   div_art_img5_area     div_art_img6_area"
        "div_nav_area   div_art_text4_area  div_art_text5_area    div_art_text6_area"
        "div_nav_area   div_art_text4_area  div_art_text5_area    div_art_text6_area"
        "div_foot_area  div_foot_area       div_foot_area         div_foot_area";
}

.side_page {
    display: grid;
    grid-template-columns: 3fr 18fr;
    grid-template-rows: auto * 15;
    grid-template-areas:
        "div_head_area  div_head_area"      
        "div_nav_area   div_art_header_area" 
        "div_nav_area   container"           
        "div_nav_area   container"           
        "div_nav_area   div_art_text10_area"
        "div_nav_area   div_art_text10_area"
        "div_nav_area   div_art_img10_area"  
        "div_nav_area   div_art_img10_area"  
        "div_foot_area  div_foot_area";
}

.book_page {
    display: grid;
    grid-template-columns: 3fr 9fr 9fr;
    grid-template-rows: auto * 15;
    grid-template-areas:
        "div_head_area  div_head_area       div_head_area"
        "div_nav_area   div_art_header_area div_art_header_area"
        "div_nav_area   div_art_img1_area   div_art_text8_area"
        "div_nav_area   div_art_img1_area   div_art_text8_area"
        "div_nav_area   div_art_img1_area   div_art_text7_area"
        "div_nav_area   div_art_img1_area   div_art_text7_area"
        "div_nav_area   div_art_text9_area  div_art_text9_area"
        "div_nav_area   div_art_text9_area  div_art_text9_area"
        "div_foot_area  div_foot_area       div_foot_area";
}

.div_head {
    grid-area: div_head_area;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #400080;
    padding: 5px;
}
.div_head h1 {
    color: #cccccc;
    flex: 1 1 auto;
    font-size: 45px;
    text-align: center;
}

.div_nav {
    grid-area: div_nav_area;
    background-color: #cccccc;
    padding: 5px;
    padding-top: 20px;
    position: relative;
}
.mainitem_nav ul {
    list-style-type: none;
    padding: 0;
}
.mainitem_nav li {
    padding-bottom: 15px;
}

.div_art_header {
    grid-area: div_art_header_area;
    padding: 10px;
    background-color: #191919;
}

.div_art_img1 {
    grid-area: div_art_img1_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_text1 {
    color: #008080;
    grid-area: div_art_text1_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_img2 {
    grid-area: div_art_img2_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}

.div_art_text2 {
    color: #008080;
    grid-area: div_art_text2_area;
    padding: 10px;
    background-color: #191919; 
    place-self: center;
}

.div_art_img3 {
    grid-area: div_art_img3_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_text3 {
    color: #008080;
    grid-area: div_art_text3_area;
    padding: 10px;
    background-color: #191919;
    place-self: center; 
}
.div_art_img4 {
    grid-area: div_art_img4_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_text4 {
    color: #008080;
    grid-area: div_art_text4_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_img5 {
    grid-area: div_art_img5_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_text5 {
    color:  #008080;
    grid-area: div_art_text5_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}

.div_art_img6 {
    grid-area: div_art_img6_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_text6 {
    color: #008080;
    grid-area: div_art_text6_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_art_text7 {
    color: #cccccc;
    grid-area: div_art_text7_area;
    padding: 10px;
    background-color: #191919;
    justify-self: start;
}
.div_art_text8 {
    color: #cccccc;
    grid-area: div_art_text8_area;
    padding: 10px;
    background-color: #191919;
    justify-self: start;
}
.div_art_text9 {
    color: #cccccc;
    grid-area: div_art_text9_area;
    padding: 30px;
    margin-left: 120px;
    margin-right: 120px;
    background-color: #191919;
   place-self: center; 
}
.div_art_img10 {
    grid-area: div_art_img10_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}

.div_art_text10 {
    color: #cccccc;
    grid-area: div_art_text10_area;
    padding: 10px;
    background-color: #191919;
    place-self: center;
}
.div_foot {
    grid-area: div_foot_area;
    background-color: #400080;
    padding: 8px;
    text-align: center;
    color: #cccccc;
    padding-left: 110px;
}

@media screen and (max-width: 1025px) {
   .main_page {
        grid-template-areas:
            "div_head_area  div_head_area       div_head_area"
            "div_nav_area   div_art_header_area div_art_header_area"
            "div_nav_area   div_art_img1_area   div_art_img1_area"
            "div_nav_area   div_art_text1_area  div_art_text1_area"
            "div_nav_area   div_art_img2_area   div_art_img2_area"
            "div_nav_area   div_art_text2_area  div_art_text2_area"
            "div_nav_area   div_art_img3_area   div_art_img3_area"
            "div_nav_area   div_art_text3_area  div_art_text3_area"
            "div_nav_area   div_art_img4_area   div_art_img4_area"
            "div_nav_area   div_art_text4_area  div_art_text4_area"
            "div_nav_area   div_art_img5_area   div_art_img5_area"
            "div_nav_area   div_art_text5_area  div_art_text5_area"
            "div_nav_area   div_art_img6_area   div_art_img6_area"
            "div_nav_area   div_art_text6_area  div_art_text6_area"
            "div_foot_area  div_foot_area       div_foot_area";
   }

   .side_page {
    grid-template-areas:
        "div_head_area  div_head_area"      
        "div_nav_area   div_art_header_area" 
        "div_nav_area   container"           
        "div_nav_area   container"           
        "div_nav_area   div_art_text10_area"
        "div_nav_area   div_art_text10_area"
        "div_nav_area   div_art_img10_area"  
        "div_nav_area   div_art_img10_area"  
        "div_foot_area  div_foot_area";
    }

   .book_page {
       grid-template-areas:
            "div_head_area  div_head_area       div_head_area"
            "div_nav_area   div_art_header_area div_art_header_area"
            "div_nav_area   div_art_img1_area   div_art_img1_area"
            "div_nav_area   div_art_text7_area  div_art_text7_area"
            "div_foot_area  div_foot_area       div_foot_area";
   }
}
@media screen and (max-width: 601px) {
    .main_page {
        grid-template-areas:
            "div_head_area          div_head_area        div_head_area"
            "div_nav_area           div_nav_area         div_nav_area"
            "div_art_header_area    div_art_header_area  div_art_header_area"
            "div_art_img1_area      div_art_img1_area    div_art_img1_area"
            "div_art_text1_area     div_art_text1_area   div_art_text1_area"
            "div_art_img2_area      div_art_img2_area    div_art_img2_area"
            "div_art_text2_area     div_art_text2_area   div_art_text2_area"
            "div_art_img3_area      div_art_img3_area    div_art_img3_area"
            "div_art_text3_area     div_art_text3_area   div_art_text3_area"
            "div_art_img4_area      div_art_img4_area    div_art_img4_area"
            "div_art_text4_area     div_art_text4_area   div_art_text4_area"
            "div_art_img5_area      div_art_img5_area    div_art_img5_area"
            "div_art_text5_area     div_art_text5_area   div_art_text5_area"
            "div_art_img6_area      div_art_img6_area    div_art_img6_area"
            "div_art_text6_area     div_art_text6_area   div_art_text6_area"
            "div_foot_area          div_foot_area        div_foot_area";
   }
   .side_page {
    grid-template-areas:
        "div_head_area  div_head_area"      
        "div_nav_area   div_art_header_area" 
        "div_nav_area   container"           
        "div_nav_area   container"           
        "div_nav_area   div_art_text10_area"
        "div_nav_area   div_art_text10_area"
        "div_nav_area   div_art_img10_area"  
        "div_nav_area   div_art_img10_area"  
        "div_foot_area  div_foot_area";
    } 
   .book_page {
       grid-template-areas:
            "div_head_area          div_head_area         div_head_area"
            "div_nav_area           div_nav_area          div_nav_area"
            "div_art_header_area    div_art_header_area   div_art_header_area"
            "div_art_img1_area      div_art_img1_area     div_art_img1_area"
            "div_art_text7_area     div_art_text7_area    div_art_text7_area"
            "div_foot_area          div_foot_area         div_foot_area";
   }
}